@font-face {
	font-family: 'SuperMario3';
	src: url('./fonts/Super-Mario-Bros--3.ttf');
}

*
{
	padding: 0px;
	margin: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

canvas
{
	display: block;
	position: absolute;
  
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	cursor: pointer;	
}

aside
{
	margin-left: 1024px;
	font-size: 12px;
	padding: 20px;
	font-family: 'SuperMario3', 'Arial', sanserif; }
}

.controller
{
	font-size: 60px;
}

.keySmall
{
	font-size: 16px;
}

.keyBig
{
	font-size: 40px;
}